<section id="home" class="min-h-screen flex flex-col justify-center items-center bg-transparent text-white px-8">
  <h1 class="text-6xl font-bold mb-6">¡Bienvenido!</h1>
  <p class="text-3xl text-center max-w-5xl my-5">
    Soy <b>Santiago Pérez</b>, Tecnólogo en análisis y desarrollo de sistemas de información y estudiante de Ingeniería de Software.
  </p>
  <p class="text-2xl text-center max-w-3xl my-4">
    Cuento con experiencia como desarrollador web full stack, usando tecnologías modernas como Angular, .Net, Microservicios con API REST, bases de datos y más. <br /> Explora mi portafolio para conocer más sobre mí, mis proyectos y cómo puedo ayudarte a construir algo
    increíble.
  </p>
  <a href="#about" class="mt-8 px-6 py-3 bg-blue-700 text-white rounded-full font-semibold hover:bg-blue-800 transition duration-300">
    Conoce más sobre mí
  </a>
</section>