<section id="projects" class="min-h-screen flex flex-col justify-center items-center bg-transparent text-white px-8">
  <h1 class="text-4xl font-bold mb-6">Mis Proyectos</h1>
  <p class="max-w-2xl text-center text-lg mb-8">
    Aquí encontrarás algunos de los proyectos personales en los que he puesto en práctica mis habilidades y conocimientos con diferentes tecnologías.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Proyecto 1 -->
    <div class="bg-transparent p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 transform hover:scale-105">
      <h2 class="text-2xl font-bold mb-2">Rick and Morty</h2>
      <p class="text-sm">
        Esta es una pagina web interactiva que consume la API pública de Rick and Morty. Permite buscar personajes por nombre y especie, con paginación para navegar entre los resultados.
      </p>
      <a href="https://rick-and-morty.sapedev.com/" target="_blank" rel="noopener noreferrer" class="mt-4 inline-block text-blue-200 hover:text-blue-300 font-semibold">
        Ver página →
      </a>
    </div>
    <!-- Proyecto 2 -->
    <div class="bg-transparent p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 transform hover:scale-105">
      <h2 class="text-2xl font-bold mb-2">Tienda Virtual</h2>
      <p class="text-sm">
        Esta es una tienda virtual o e-commerce construida con Angular 20. Permite a los usuarios navegar por productos, agregarlos al carrito y realizar compras de manera sencilla.
      </p>
      <a href="#/" target="_blank" rel="noopener noreferrer" class="mt-4 inline-block text-blue-200 hover:text-blue-300 font-semibold">
        Ver más →
      </a>
    </div>
    <!-- Proyecto 3 -->
    <!-- <div class="bg-transparent p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold mb-2">Proyecto 3</h2>
      <p class="text-sm">
        Descripción breve del proyecto. Explica qué hace y por qué es especial.
      </p>
      <a href="#/" class="mt-4 inline-block text-blue-200 hover:text-blue-300 font-semibold">
        Ver más →
      </a>
    </div> -->
  </div>
</section>